<h2>Ninja Listing:</h2>

<form id="filter">
   <label>Filter ninjas by name:</label>
   <input type="text" [(ngModel)]="term" [ngModelOptions]="{standalone: true}" />
</form>

<ul id="ninja-listing">
   <li *ngFor="let ninja of ninjas | filter:term">
      <div class="single-ninja">
         <!-- Belt Colour -->
         <span [ngStyle]="{background: ninja.belt}">{{ninja.belt}} belt</span>
         <!-- Ninja Name -->
         <h3>{{ninja.name}}</h3>
         <!-- <div (click)="remove($event)" [attr.data-name]="ninja.name">delete</div> -->
      </div>
   </li>
</ul>

<form id="add-ninja">
   <input type="text" placeholder="Name" [(ngModel)]="name" [ngModelOptions]="{standalone: true}" />
   <input type="text" placeholder="Belt Colour" [(ngModel)]="belt" [ngModelOptions]="{standalone: true}" />
   <button (click)="fbPostData(name, belt)">Add ninja</button>
</form>
